- name: Zookeeper Parallel Provisioning
  hosts: zookeeper_parallel
  gather_facts: false
  tags: zookeeper
  environment: "{{ proxy_env }}"
  tasks:
    - import_role:
        name: zookeeper

- name: Zookeeper Serial Ordering
  hosts: zookeeper_serial
  gather_facts: false
  tags: zookeeper
  environment: "{{ proxy_env }}"
  tasks:
    - import_role:
        name: zookeeper
        tasks_from: dynamic_groups.yml

- name: Zookeeper Followers Provisioning
  hosts: zookeeper_follower
  serial: 1
  any_errors_fatal: true
  gather_facts: false
  tags: zookeeper
  environment: "{{ proxy_env }}"
  tasks:
    - import_role:
        name: zookeeper

    - name: Proceed Prompt
      pause:
        prompt: "Press Enter to Proceed to Next Node. Ctrl + C to Abort"
      when: zookeeper_pause_rolling_deployment|bool

- name: Zookeeper Leader Provisioning
  hosts: zookeeper_leader
  any_errors_fatal: true
  gather_facts: false
  tags: zookeeper
  environment: "{{ proxy_env }}"
  tasks:
    - import_role:
        name: zookeeper

    - name: Proceed Prompt
      pause:
        prompt: "Press Enter to Proceed to Next Node. Ctrl + C to Abort"
      when: zookeeper_pause_rolling_deployment|bool